@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  background-color: white;
  height: 750px;
  width: clamp(20%, 500px, 90%);
  border: 1px solid #e1dddd;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(17, 17, 26, 0.043) 0px 4px 16px,
    rgba(17, 17, 26, 0.043) 0px 8px 32px;
}

.mention-menu {
  transition: all 400ms ease;
}

.members-tab::-webkit-scrollbar {
  background-color: transparent !important;
  width: 5px;
}

.members-tab::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
}

.recording {
  fill: red;
  animation: recording 400ms linear infinite alternate;
}

@keyframes recording {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

.input-container-record {
  animation: springywidth 400ms cubic-bezier(0.3, 0.6, 0.8, 1.2) 1;
}

@keyframes springywidth {
  0% {
    width: 100%;
  }
  50% {
    width: 95%;
  }
  100% {
    width: 100%;
  }
}

::placeholder {
  transition: all 200ms ease-in-out;
}

.text-container {
  scroll-behavior: smooth !important;
}

.text-container::-webkit-scrollbar {
  background-color: transparent transparent;
  width: 5px;
}

.text-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.sent-message {
  border-radius: 5px;
}

.received-message {
  border-radius: 5px;
}

.top-text {
  border-radius: 30px;
  border-top-right-radius: 5px;
}

.top-text-received {
  border-radius: 30px;
  border-top-left-radius: 5px;
}

.bottom-text {
  border-radius: 30px;
}

.middle-text {
  border-radius: 30px;
}

.single-text {
  border-radius: 30px !important;
}
